<html>

<head>
    <title>Plant</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.2/angular-chart.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.2/angular-chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="/javascripts/angularApp.js"></script>
    <script type="text/javascript" src="/javascripts/services.js"></script>
    <script type="text/javascript" src="/javascripts/controllers.js"></script>

</head>

<body ng-app="plant">
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
        <ul class="nav navbar-nav">
            <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
            <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
        </ul>
    </nav>

    <div class="container">
        <ui-view></ui-view>
    </div>

</body>

</html>